*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

body{
    background-color: blue;
    color: black;
}
.topo{
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid white;
     margin-top: -20px;
}
 
@media  (max-width: 768px) {
.menu{
    margin-top: 10px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    

  
 }  }

.conteudo{
    max-width: 900px;
    margin: 24px auto;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}
.card{
    text-align: center;
    padding: 16px;
    border-top: 1px solid white;
    margin-top: 40px;

}

.conteudo{
    grid-template-columns: 1fr;
}  
.inicio {
  display: inline-block;
  padding: 10px 25px;
  background: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-family: Impact;


  transition: transform 0.2s ease, background 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.inicio:hover {
  background: darkblue;
  color: white;
  transform: scale(1.3);
}

.inicio:active {
  background: green;
  transform: scale(0.98);
}
.sobre {
  display: inline-block;
  padding: 10px 25px;
  background: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;

  transition: transform 0.2s ease, background 0.2s ease, color 0.2s ease;
  cursor: pointer;

}
.sobre:hover {
  background: black;
  color: white;
  transform: scale(1.3);
}
.sobre:active {
  background: red;
  transform: scale(0.95);
}
.contato{
   display: inline-block;
  padding: 10px 25px;
  background: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;

  transition: transform 0.2s ease, background 0.2s ease, color 0.2s ease;
  cursor: pointer; 
}
.contato:hover {
  background: black;
  color: white;
  transform: scale(1.3);
}
.contato:active {
  background: red;
  transform: scale(0.95);   
}
.jogue{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  padding: 0 17px;

  background: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.jogue .texto{
  opacity: 0.2s ease;
}

.jogue .img-hover{
  opacity: 0;
  transition: opacity 0.2s ease;
  
}

.jogue:hover .texto{
  opacity: 0;
}

.jogue:hover .img-hover{
  opacity: 1;
  justify-content: center;
  height: 40px;
  width: 40px;
  align-items: center;
  position: relative;
}

.jogue:hover{
  background: greenyellow;
  transform: scale(1.05);
}   

.jogue:active{
  background: red;
  transform: scale(0.97);
}

.menu{
    margin-top: 50px;
}
